<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head prefix="og: http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta property="og:url" content="www.finalgoals.in">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ image }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="finalgoals.in">
  <meta property="twitter:url" content="www.finalgoals.in">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{ image }}">
  <meta name="keywords" content="{{ keyword }}">
  <meta name="robots" content="index, follow">
  <meta name="language" content="English">
  <meta name="revisit-after" content="2 days">
  <meta content='website' property='og:type' />
  <link href='https://www.finalgoals.in/' rel='canonical' />
  <link href='//www.google.com' rel='dns-prefetch' />
  <meta name="author" content="Final Goals">
  <meta name="robots" content="index, follow">
  <meta name="robots" content="max-image-preview:large">
  <link rel="stylesheet" href="./../../style.css">
  <link rel="icon" type="icon/png"
    href="https://cdn.dribbble.com/users/13308360/screenshots/19524770/media/91d643659927e1231efd16366cf6c38c.png?compress=1&resize=400x300&vertical=top">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Poppins:wght@700&family=Roboto&family=Source+Sans+Pro&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="./../../css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel=" stylesheet" href="./../../css/slick.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css">
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
      c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
      t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
      y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "dv1k4b0qe9");
  </script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1540238782920365"
    crossorigin="anonymous"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZJ7D1TB7JE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-ZJ7D1TB7JE');
  </script>

</head>

<body>
  {% include 'header.njk' %}

  <main>
    <article class="main-article">
      <div class="container container--narrow flow">

        <figure class="main-article__figure">
          <img src="{{ image }}" alt="{{ imageAlt }}" title="{{ title }}">
        </figure>
        <h1 property="og:title" title="{{ title }}" itemprop="title" class="article-title">
          {{ title }}
        </h1>

        {{ content | safe }}


      </div>
    </article>
  </main>

  <footer>
    <div class="container-xl">
      <div class="footer-inner">
        <div class="row d-flex align-items-center gy-4">
          <div class="col-md-4">
            <span class="copyright">&copy; 2022 Final Goals</span>
          </div>
          <div class="col-md-4 text-center">
            <ul class="social-icons list-unstyled list-inline mb-0">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-pinterest"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-itunes"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <a href="#" id="return-to-top" class="float-md-end">
              <i class="icon-arrow-up"></i>
              Back to Top
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- canvas menu  -->
  <div class="canvas-menu d-flex align-items-end flex-column">
    <button class="btn-close" aria-label="Close" type="button"></button>

    <div class="logo">
      <h2>Final Goals</h2>
    </div>
    <nav>
      <ul class="vertical-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/#latest">Latest</a></li>
        <li><a href="/#trending">Trending</a></li>
        <li><a href="https://community.finalgoals.in">Community</a></li>
        <li><a href="/#contact">Contact</a></li>
        <li class="active">
          <a href="/">Language</a>
          <ul class="submenu">
            <li><a href="#">Malayalam</a></li>
            <li><a href="#">English</a></li>
          </ul>
        </li>
      </ul>
    </nav>


    <ul class="social-icons list-unstyled list-inline mb-0 mt-auto w-100">
      <li class="list-inline-item">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="#"><i class="fab fa-twitter"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="#"><i class="fab fa-itunes"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="#"><i class="fab fa-pinterest"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="#"><i class="fab fa-youtube"></i></a>
      </li>
    </ul>
  </div>

  <!-- javascripts  -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/slick.min.js"></script>
  <script src="/js/jquery.sticky-sidebar.min.js"></script>
  <script src="/main.js"></script>


  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "NewsArticle",
    "headline": "{{ title }}",
    "image": [
      "{{ image }}"
     ],
    "datePublished": "{{ post.date }}",
    "author": [{
        "@type": "Person",
        "name": "{{post.data.author}}"
      }
    ]
  }
  </script>

</body>

</html>